<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "publications">
        <h1 class = "techheader">Research Publications list:</h1>
        <br>
        <ul>           
        <li>
            Paulikas, M., and T. Schmidlin. 2017. <a href = "https://link.springer.com/article/10.1007/s11069-017-2756-z" class = "citation">U.S. tornado fatalities in motor vehicles (1991 – 2015)</a> Natural Hazards, 87, 1, 121-143. 
        </li>
        <br>
        <li>
            Paulikas, M., Schmidlin, T., and T. Marshall. 2016. <a href = "https://journals.ametsoc.org/view/journals/wcas/8/1/wcas-d-15-0051_1.xml" class = "citation">The Stability of Passenger Vehicles at Tornado Wind Intensities of the (Enhanced) Fujita Scale.</a> Wea. Climate Soc., 8, 1, 85–91.
        </li>
        <br>
        <li>
            Paulikas, M. and M. Rahman. 2015. <a href = "https://onlinelibrary.wiley.com/doi/epdf/10.1111/jfr3.12084" class = "citation">A Temporal Assessment of Flooding Fatalities in Pakistan (1950 – 2012).</a> Journal of Flood Risk Management, 8, 1, 62-70.
        </li>
        <br>
        <li>
            Paulikas, M., Curtis, A., and T. Veldman. 2014. <a href = "https://www.researchgate.net/publication/274002940_Spatial_Video_Street-Scale_Damage_Assessment_of_the_Washington_Illinois_Tornado_of_2013" class = "citation">Spatial Video Street-Scale Damage Assessment of the Washington, Illinois Tornado of 2013.</a> The 11th International Conference on Information Systems for Crisis Response and Management, University Park, PA. (May 20).
        </li>
        <br>
        <li>
            Paulikas, M. 2014.  <a href = "https://rmets.onlinelibrary.wiley.com/doi/10.1002/met.1394" class = "citation">Examining population bias relative to severe thunderstorm hazard reporting trends in the Atlanta, GA metropolitan region.</a> Meteorological Applications, 21, 3, 494-503.
        </li>
        <br>
        <li>
            Paulikas, M. and W. Ashley. 2011. <a href = "https://link.springer.com/article/10.1007/s11069-010-9712-5" class = "citation">Thunderstorm hazard vulnerability for the Atlanta, Georgia metropolitan region.</a> Natural Hazards, 58, 3, 1077-1092.
        </li>
    </ul>
    </div>
    <br>
    <h1 class = "techheader">Weather photographs:</h1>
    <br>
    <img src = "/static/atmosphere2.jpg" alt = "atmosphere2" class = "atmosphere">
    <img src = "/static/atmosphere3.jpg" alt = "atmosphere3" class = "atmosphere">
    <img src = "/static/atmosphere4.jpg" alt = "atmosphere4" class = "atmosphere">
    <img src = "/static/atmosphere5.jpg" alt = "atmosphere5" class = "atmosphere">
    <img src = "/static/atmosphere6.jpg" alt = "atmosphere6" class = "atmosphere">
    <img src = "/static/atmosphere7.jpg" alt = "atmosphere7" class = "atmosphere">
</body>
</html>