<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Marius Paulikas</title>
</head>
<body>
    <div id = "container">
        <img src = "/static/Updated_profile_edited.jpg" alt = "profile" id = "profile">
        <div id = "right-side">
            <h1>Marius Paulikas</h1>
            <h3>Software developer</h3>
            <h3>PhD, Geography</h3>
            <br>
            
                <h4>Phone: (630) 881-1510</h4>
                <h4>Email: mariuspaulikas@yahoo.com</h4>
            <br>
                <img src = "/static/linkedin.png" alt = "linkedin" id = "linkedin">
                <h4 id = "linkedinheader">LinkedIn Page: <a href = '/linkedin'> https://www.linkedin.com/in/mariuspaulikas/</a></h4>
            <br>
                <img src = "/static/github.png" alt = "github" id = "github">
                <h4 id = "githubheader">Github Page: <a href = '/github'> https://github.com/MrMariusKentState </a></h4>
            <br>
                <img src = "/static/Researchgate.png" alt = "researchgate" id = "researchgate">
                <h4 id = "researchgateheader">ResearchGate Page: <a href = '/researchgate'> https://www.researchgate.net/profile/Marius-Paulikas </a></h4>
            <br>
        </div>
        <h1 class = "techheader">Technologies:</h1>
        <br>
        <div class = "tech_items">

            <div id = "techleft">
                <h3>Languages:</h3>
                <p>HTML, CSS, JavaScript, Python, Express, Java, JQuery</p>
                    <!-- <img src = "/static/HTML.png" alt = "html" id = "html">
                    <img src = "/static/CSS.png" alt = "css" id = "css">
                    <img src = "/static/JavaScript.png" alt = "javascript" id = "javascript">
                    <img src = "/static/python.png" alt = "python" id = "python">
                    <img src = "/static/expressjs.png" alt = "express" id = "express">
                    <img src = "/static/JQuery.png" alt = "jquery" id = "jquery"> -->
                <br>
                <h3>Libraries/Frameworks:</h3>
                <p>Flask, React, Express</p>
                <br>
                <h3>Databases:</h3>
                <p>MySQL, Mongo</p>
                <br>
            </div>
            <div id = "techright">
                <h3>Tools:</h3>
                <p>Windows VS, Spring Tool Suite 4, Bootstrap</p>
                <br>
                <h3>Geography tools:</h3>
                <p>ESRI ArcGIS, Geomedia, Contour +2 geospatial cameras</p>
                <br>
                <h3>Other:</h3>
                <p>MS Office (Word, Excel, Powerpoint), MS Access, SPSS, Ajax, JSON</p>
            </div>
        </div>
        <br>
        <h1 class = "techheader">Sample website projects:</h1>
        <br>
        <div class = "tech_items">
            <div id = "leftvideos">
                <div class = "toprow">
                    <h2 class = "italic">Refund Cleveland</h2>
                    <p>Collaborated with others to update website <a href = "https://www.refundcleveland.com/" class = "citation">refundcleveland.com</a> – a website allowing users to input desired spending allocations relative to the proposed 2022 Cleveland Budget.
                        Utilized Google Chart APIs to create a series of proposed bar charts illustrating Cleveland budgetary trends (using both absolute and percentage values) from 2019-2022. Video sample provided below:
                    </p>
                    <br>
                    <video width = "200" controls>
                        <source src = "/static/Budget_Refund_Cle.mp4" type = "video/mp4">
                        <source src = "/static/Budget_Refund_Cle.ogg" type = "video/ogg">
                    </video>
                    
                </div>
                <br>
                <div class = "bottomrow">
                    <h2 class = "italic" class = "bott">Election Project</h2>
                    <p>Created a national U.S. map image with embedded HTML coordinates and routes to allow user clicking on a state to retrieve election data of the corresponding state.
                    Linked MySQL data to HTML pages to display election data for every U.S. state utilizing Flask framework and Python language.
                    </p>
                    <br>
                    <!-- <video width = "200" controls>
                        <source src = "/static/ElectionMapDemonstration.mp4" type = "video/mp4">
                        <source src = "/static/ElectionMapDemonstration.ogg" type = "video/ogg">
                    </video> -->
                </div>
                <br>
            </div>
            <div id = "rightvideos">
                <div class = "toprow">
                    <h2 class = "italic">A Tribute to The Police</h2>
                    <p>Utilized Java, JSP, and object-oriented programming to create registration and login pages with validations.</p>
                    <p>Incorporated Spotify code into MySQL database to embed song tracks, and created MySQL data tables to allow user to select and remove individual songs for creation of a custom playlist.
                    </p>
                    <video width = "200" class = "policevid" controls>
                        <source src = "/static/Login_validations.mp4" type = "video/mp4" id = "policeone">
                        <source src = "/static/Login_validations.ogg" type = "video/ogg">
                    </video>
                    <video width = "200" class = "policevid"  controls>
                        <source src = "/static/Walkthrough.mp4" type = "video/mp4">
                        <source src = "/static/Walkthrough.ogg" type = "video/ogg">
                    </video>
                </div>
                <div class = "bottomrow">
                    <br>
                    <video width = "200" class = "bott" controls>
                        <source src = "/static/ElectionMapDemonstration.mp4" type = "video/mp4">
                        <source src = "/static/ElectionMapDemonstration.ogg" type = "video/ogg">
                    </video>
                    <!-- <h2 class = "italic">A Tribute to The Police (2nd demo video)</h2>
                    <p>Incorporated Spotify code into MySQL database to embed song tracks, and created MySQL data tables to allow user to select and remove individual songs for creation of a custom playlist.
                    </p> -->
                    <!-- <video width = "200" controls>
                        <source src = "/static/Walkthrough.mp4" type = "video/mp4">
                        <source src = "/static/Walkthrough.ogg" type = "video/ogg">
                    </video> -->
                </div>
            </div>
            
        </div>
        <br>
        <br>
        <div id = "publications">
            <h1 class = "techheader">Research Publications list:</h1>
            <br>
            <ul>           
            <li>
                Paulikas, M., and T. Schmidlin. 2017. <a href = "https://link.springer.com/article/10.1007/s11069-017-2756-z" class = "citation">U.S. tornado fatalities in motor vehicles (1991 – 2015)</a> Natural Hazards, 87, 1, 121-143. 
            </li>
            <br>
            <li>
                Paulikas, M., Schmidlin, T., and T. Marshall. 2016. <a href = "https://journals.ametsoc.org/view/journals/wcas/8/1/wcas-d-15-0051_1.xml" class = "citation">The Stability of Passenger Vehicles at Tornado Wind Intensities of the (Enhanced) Fujita Scale.</a> Wea. Climate Soc., 8, 1, 85–91.
            </li>
            <br>
            <li>
                Paulikas, M. and M. Rahman. 2015. <a href = "https://onlinelibrary.wiley.com/doi/epdf/10.1111/jfr3.12084" class = "citation">A Temporal Assessment of Flooding Fatalities in Pakistan (1950 – 2012).</a> Journal of Flood Risk Management, 8, 1, 62-70.
            </li>
            <br>
            <li>
                Paulikas, M., Curtis, A., and T. Veldman. 2014. <a href = "https://www.researchgate.net/publication/274002940_Spatial_Video_Street-Scale_Damage_Assessment_of_the_Washington_Illinois_Tornado_of_2013" class = "citation">Spatial Video Street-Scale Damage Assessment of the Washington, Illinois Tornado of 2013.</a> The 11th International Conference on Information Systems for Crisis Response and Management, University Park, PA. (May 20).
            </li>
            <br>
            <li>
                Paulikas, M. 2014.  <a href = "https://rmets.onlinelibrary.wiley.com/doi/10.1002/met.1394" class = "citation">Examining population bias relative to severe thunderstorm hazard reporting trends in the Atlanta, GA metropolitan region.</a> Meteorological Applications, 21, 3, 494-503.
            </li>
            <br>
            <li>
                Paulikas, M. and W. Ashley. 2011. <a href = "https://link.springer.com/article/10.1007/s11069-010-9712-5" class = "citation">Thunderstorm hazard vulnerability for the Atlanta, Georgia metropolitan region.</a> Natural Hazards, 58, 3, 1077-1092.
            </li>
        </ul>
        </div>
        <br>
        <h1 class = "techheader">Weather photographs:</h1>
    </div>
</body>
</html>