<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Marius Paulikas</title>
</head>
<body>
    <div id = "container">
        <img src = "/static/Updated_profile_edited.jpg" alt = "profile" id = "profile">
        <div id = "right-side">
        <h1>Marius Paulikas</h1>
        <h3>Software developer</h3>
        <br>
        <ul>
            <li>Phone: (630) 881-1510</li>
            <li>Email: mariuspaulikas@yahoo.com</li>
            <li>LinkedIn Page: <a href = '/linkedin'> https://www.linkedin.com/in/mariuspaulikas/</a></li>
            <li>Github Page: <a href = '/github'> https://github.com/MrMariusKentState </a></li>
            <li>ResearchGate Page: <a href = '/researchgate'> https://www.researchgate.net/profile/Marius-Paulikas </a></li>
        </ul>
        </div>
    </div>
</body>
</html>