* {
    margin: 0;
    padding: 0;
}

#container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: lightblue;
}

#profile {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
    
}

#right-side {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 20px;
    vertical-align: bottom;
}