* {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

#container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
}

#profile {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
    
}

#right-side {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    vertical-align: bottom;
}


#profile, #right-side {
    display: inline-block;
}


#linkedin, #github, #researchgate{
    height: 35px;

}


.tech img{
    height: 35px;
}


#linkedin, #linkedinheader {
    display: inline-block
}


#github, #githubheader {
    display: inline-block;
}

#researchgate, #researchgateheader {
    display: inline-block;
}

.techheader {
    text-align: center;
}

#tech_items{
    border: solid black;
}

#techleft, #techright {
    display: inline-block;
}

#videos {
    text-align: center;
}