* {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

#container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
}

#profile {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
    
}

#right-side {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    vertical-align: bottom;
}


#profile, #right-side {
    display: inline-block;
}


#linkedin, #github, #researchgate{
    height: 35px;

}


.tech img{
    height: 35px;
}


#linkedin, #linkedinheader {
    display: inline-block
}


#github, #githubheader {
    display: inline-block;
}

#researchgate, #researchgateheader {
    display: inline-block;
}

.techheader {
    text-align: center;
}

.tech_items{
    border: solid black;
}

#techleft, #techright {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

#techleft {
    margin-left: 20px;
}

#techright {
    margin-left: 130px;
}


#videos {
    text-align: center;
}

.citation {
    font-weight: bold;
    color: blue;
}

#leftvideos, #rightvideos {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

#leftvideos {
    margin-left: 20px;
    width: 450px;
}

#rightvideos {
    margin-left: 20px;
    width: 450px;
}

/* .toprow {
    height: 200px;
}

.bottomrow {
    height: 200px;
} */

#policeone {
    margin-top: 90px;
}

.italic {
    font-style:italic;
    font-weight: bold;
}

.policevid{
    margin-top: 35px;
}

.bott{
    margin-top: 20px;
}