
* {
    margin: 0;
    padding: 0;
}

#container {
    margin: 10px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 400px;
    
}

/* h1 {
    margin-left: 150px;
    text-align: center;
}

img {
    margin-left: 150px;

}

table {
    margin-left: auto;
    margin-right: auto;
} */

tr, th, td {
    border: black solid 1px;
}

th, td {
    width: 225px;
    padding-left: 10px;
}